TAPI_TOKEN: 123456789:ABCDEFGHIJKLMNOPQRSTUVWXYZ01234567
CHANNEL: "-1234567"
BAMBOO_URL: "http://www.ida-gds.com/bamboo"
PLAN_KEYS: "AB-XYZ"
USER: "bamboo_username"
PASS: "bamboo_password"
FREQUENCY: "1m"
